#search-icon {
    margin-top: 13px;
}

#school-nav li, #page-nav li {
    list-style-type: none;
    font-weight: bold;
}

.school-container {
    margin-bottom: 30px;
}

.page-content-container {
    margin-top: 90px;
}

.schools i.fa {
    font-size: 40px;
    border: 4px solid #0079c2;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

.schools i.fa.fa-mobile{
    font-size: 50px;
    padding: 20px 25px;
}

.schools .service:hover>i.fa{
    background: #0079c2;
    color: #ffffff;
}

.schools .service span {
    font-size: 18px;
    text-transform: uppercase;
}

/* Schools Section */
#tf-schools{
    padding: 80px 0;
}

#tf-schools i.fa {
    font-size: 40px;
    border: 4px solid #0079c2;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

#tf-schools i.fa.fa-mobile{
    font-size: 50px;
    padding: 20px 25px;
}

#tf-schools .service:hover>i.fa{
    background: #0079c2;
    color: #ffffff;
}


.introduction {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-title h2 strong {
    color: #0079c2;
}

@media (min-width:0px) and (max-width: 768px){
    /* Hides the search icon when mobile width */
    #search-icon {
        display: none;
    }
}